{% extends "base.html" %}

{% block content %}
<div class="index">
  <h1>發表一篇圖文</h1>
  <div>
    <div>
      <span>文字內容</span>
      <input type="text" id="text" placeholder="選擇一張圖片後送出">
    </div>
    <div>
      <span>圖片檔案</span>
      <input type="file" id="img" accept="image/*">
    </div>
    <div>
      <button id="uploadButton">送出可愛的圖片</button>
    </div>
  </div>
  <span>圖片集：</span>
  <div id="img-container"></div>
</div>
<script src="{{ url_for('static', path='js/index.js') }}"></script>
{% endblock %}
